.footballerRow {
  display: flex;
  margin-bottom: 15px;
  border: 1px solid black;
  padding-left: 0px;
  font-size: 14px;
}

.footballerRow .cell {
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.footballerRow .cell:hover {
  background: #FFAA5E;
}

.footballerRow .number {
  width: 5%;
  border-right: 1px solid black;
  font-weight: bold;
}

.footballerRow .secondName {
  width: 10%;
}

.footballerRow .firstName {
  width: 10%;
}

.footballerRow .birthDate {
  width: 15%;
}

.footballerRow .country {
  width: 10%;
}

.footballerRow .agent {
  width: 15%;
}

.footballerRow .fieldPosition {
  width: 15%;
}

.footballerRow .goals {
  width: 8%;
}

.footballerRow .assists {
  width: 8%;
}