html, body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #DFDEDC;
  overflow-x: initial;
  min-height: 400px; 
}

div.logo {
  height: 107px;
  margin: 20px auto;
  margin-bottom: 0px;
}

div.logo div {
  margin: 0 auto;
  width: 80px;
  height: 107px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/Real_Madrid_logo.png');
}

hr {
  width: 100%;
  border-top: 1px solid grey;
}

div.headLink {
  text-align: center;
}

div.headLink a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

div.headLink a:hover {
  color: #CA0808;
}

main {
  color: black;
}

.loader {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: 10vh;
  border: 10px solid #63BCD5;
  border-radius: 50%;
  border-left-color: #3951DB;
  animation: loader 1.5s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none !important;
}